---
layout: default
---
<style>
  .date {
    margin-right: 10px;
    /* Adjust the space as needed */
  }

  .line-through-title {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
  }

  .line-through-title span {
    background-color: #fff;
    /* Assuming your background is white. If not, change this. */
    padding: 0 10px;
    /* Adjust as needed to give space around the text. */
    z-index: 1;
    position: relative;
    font-size: xx-large;
  }

  .line-through-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
    /* Adjust the color as needed. */
    z-index: 0;
  }

  #flex-container {
    display: flex;
    margin-bottom: 50px;
  }

  #flex-container>div {
    flex: 1;
    /* This will make the divs take equal width. Adjust as needed. */
  }

  #twitter-container {
    width: 100%;
    overflow: auto;
  }

  #twitter-container .twitter-timeline {
    max-width: 100%;
    margin-left: 30px;
  }

  .news-section {
    padding-left: 20px;
    padding-right: 20px;
    /* Adjust this value according to your needs */
    max-height: 300px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .news-section p {
    text-align: justify; /* This will justify the text within each paragraph */
  }

  .news-section ul {
    list-style-type: disc; /* This will add bullet points */
    padding-left: 20px; /* Ensure some indentation for list items */
  }

  .news-entry {
    display: flex;
    margin-bottom: 10px; /* Space between entries */
  }

  .news-entry .date-column {
    flex: 1; /* Take up 1 portion of the flex container */
    font-weight: bold; /* Make date bold */
  }

  .news-entry .event-column {
    flex: 6; /* Take up 6 portions of the flex container, giving more space to events */
  }
</style>

<div>
  {{ content }}
</div>

<div class="row" style="margin-bottom: 50px; margin-left: 10px; margin-right: 10px">
  <div class="col-sm-11 clearfix">
    <div class="line-through-title">
      <span>News</span>
    </div>
    <div class="news-section">
      <!-- {% for article in site.data.news %}
      <p>
        <strong class="date">{{ article.date }}:</strong> {{ article.headline }}
      </p>
      {% endfor %} -->

      <div class="row" {% if site.news_scrollable and news_size> 10 %}style="max-height: 20vw"{% endif %}>
        <table class="table table-sm table-borderless">
          {% for article in site.data.news %}
          <div class="news-entry">
            <div class="date-column">
              <p>{{ article.date | date: "%b %Y" }}</p>
            </div>
            <div class="event-column">
              <ul>
                {% for headline in article.headlines %}
                  <li>{{ headline }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>

    </div>
  </div>



  <!-- <div class="col-sm-6 clearfix">
    <div id="twitter-container">
      <a class="twitter-timeline" href="https://twitter.com/yalenlp?ref_src=twsrc%5Etfw" data-height="400">Tweets by
        yalenlp</a>
    </div>
  </div> -->
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>